rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /readings/{reading} {
      allow create: if request.auth.uid == request.resource.data.auth;
      allow read: if request.auth.uid == resource.data.auth;
    }
    match /userscores/{date=**} {
      allow read: if true;
    }
    match /notificationSubscribers/{subscription} {
      allow read, write: if resource.data.d.auth == request.auth.uid
    }
    match /userexposure/{uid} {
      allow read: if uid == request.auth.uid
    }
  }
}